.range-emerald-700 {
  --range-shdw: rgb(5, 150, 105);
}

.range-slate-400 {
  --range-shdw: rgb(148, 163, 184);
}

.range-blue-300 {
  --range-shdw: rgb(147, 197, 253);
}

.range-red-500 {
  --range-shdw: rgb(239, 68, 68);
}

.range-yellow-400 {
  --range-shdw: rgb(250, 204, 21);
}

.range-violet-600 {
  --range-shdw: rgb(124, 58, 237);
}

.range-blue-500 {
  --range-shdw: rgb(59, 130, 246);
}

.range-fuchsia-300 {
  --range-shdw: rgb(240, 171, 252);
}

.range-gray-400 {
  --range-shdw: rgb(156, 163, 175);
}

.range-gray-700 {
  --range-shdw: rgb(55, 65, 81);
}

.range-amber-400 {
  --range-shdw: rgb(251, 191, 36);
}

.range-lime-300 {
  --range-shdw: rgb(190, 242, 100);
}

.range-primary {
  --range-shdw: rgb(100, 25, 230);
}

.range-secondary {
  --range-shdw: rgb(217, 38, 169);
}

.greenTrade.even {
  @apply bg-green-600/10;
}

.greenTrade.odd {
  @apply bg-green-900/10;
}

.redTrade.even {
  @apply bg-red-600/10;
}

.redTrade.odd {
  @apply bg-red-900/10;
}
