.range-emerald-700 {
  --range-shdw: 161.4, 93.5%, 30.4%;
}

.range-slate-400 {
  --range-shdw: 215, 20.2%, 65.1%;
}

.range-blue-300 {
  --range-shdw: 211.7, 96.4%, 78.4%;
}

.range-red-500 {
  --range-shdw: 0, 84.2%, 60.2%;
}

.range-yellow-400 {
  --range-shdw: 47.9,95.8%,53.1%;
}

.range-violet-600 {
  --range-shdw: 262.1,83.3%,57.8%
}

.range-blue-500 {
  --range-shdw: 217.2,91.2%,59.8%
}

.range-fushia-300 {
  --range-shdw: 291.1,93.1%,82.9%
}

.range-gray-400 {
  --range-shdw: 217.9,10.6%,64.9%
}

.range-gray-700 {
  --range-shdw: 216.9,19.1%,26.7%
}

.range-amber-400 {
  --range-shdw: 43.3,96.4%,56.3%
}

.range-lime-300 {
  --range-shdw: 82,84.5%,67.1%
}

.range-primary {
  --range-shdw: 262, 80%, 50%
}

.range-secondary {
  --range-shdw: 316, 70%, 50%
}

.greenTrade.even {
  @apply bg-green-600/10;
}

.greenTrade.odd{
  @apply bg-green-900/10;
}

.redTrade.even {
  @apply bg-red-600/10;
}

.redTrade.odd{
  @apply bg-red-900/10;
}
