@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./animations/animations.scss";
@import "./variables/colors.scss";

* {
  font-family: "lucida sans unicode", "lucida grande", sans-serif;
}

.white-end {
  @apply bg-gradient-to-b from-transparent via-transparent to-white/20
}

.black-end {
  @apply bg-gradient-to-b from-transparent via-transparent to-black/20
}

.btn {
  @apply content-center;
}

.stat-value,
.stat-title,
.stat-desc {
  @apply font-sans;
}

.font-sans-inherit {
  @apply font-sans;
  @apply font-bold;
}

.font-sans-inherit * {
  font-family: inherit;
}

*::-webkit-scrollbar {
  display: none;
}
@media (pointer: fine) {
  .custom-scroll::-webkit-scrollbar {
    display: flex;
    height: 6px;
    width: 6px;
    opacity: 0;
  }

  .custom-scroll:hover::-webkit-scrollbar {
    visibility: visible;
    background-color: rgba(255, 255, 255, 0);
    width: 6px;
    height: 6px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background-color: rgba(46, 8, 8, 0);
  }

  .custom-scroll:hover::-webkit-scrollbar-thumb {
    background-color: #747475;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #74747500;
    border-radius: 16px;
  }

  .custom-scroll::-webkit-scrollbar-button {
    display: none;
  }
}

label:focus-within > .focusRotation {
  transform: rotate(90deg);
}
